.App {
  font-family: 'Roboto';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  text-align: center;
  color: white;
}

.App-body {
  text-align: left;
  margin-right: 10px;
  padding-right: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.List-Text {
  margin:0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: block;
}

.Sim-Text {
  margin:0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: block;
}

.List-Icon {
  color: "white";
  background-color: "white"
}


.App-link {
  color: #61dafb;
}